
{# Default header #}
{% if nodemenu is defined %}
    <header role="header" class="main-header">
        {#<div class="container-fluid">#}

            {# Logo #}
            {% set homepagePageNode = nodemenu.getNodeByInternalName('homepage') %}
            {#<a href="{{ path('_slug', { 'url': homepagePageNode.slug }) }}" class="main-header__logo">#}
                {#Ismael Serrano · Senior Developer#}
            {#</a>#}


            {# Main navigation #}
            <nav role="navigation" class="main-header__nav main-nav navbar navbar-default navbar-fixed-top">
                <div id="overlay-menu">
                    <ul class="nav sidebar-nav">
                        <li>
                            <a href="{{ path('_slug', { 'url': homepagePageNode.slug }) }}" title="{{ homepagePageNode.title }}" class="main-nav__link">
                                Projects
                            </a>
                        </li>
                {% set activeSubnode = nodemenu.getActiveForDepth(1) %}
                {% for node in activeSubnode.children %}
                    {% if not node.node.isHiddenFromNav() %}
                        <li>
                            <a href="{{ path('_slug', { 'url': node.slug }) }}" title="{{ node.title }}" class="main-nav__link {% if(node.active) %}main-nav__link--active{% endif %}">
                                {{ node.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                        <li>
                            <a href="mailto:info@ismaserrano.com" class="main-nav__link no-nav">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a href="#" class="main-nav__link enjoy no-nav" data-text-default="Enjoy music & visualization" data-text-active="Show me the content!">
                                Enjoy music & visualization
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="menu-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div id="volume"><i class="fa fa-volume-up" aria-hidden="true"></i></div>
            </nav>


            {# Search #}
            {% set searchPageNode = nodemenu.getNodeByInternalName('search') %}
            {% if searchPageNode %}
                <form method="get" action="{{ path('_slug', { 'url': searchPageNode.slug }) }}" class="searchbox-form js-searchbox-form pull-left">
                    <div class="searchbox">
                        <div class="searchbox__content js-searchbox-content">
                            <input type="text" name="query" id="query" value="{% if q_query is defined and q_query != '' %}{{ q_query }}{% endif %}" placeholder="{{ 'search'|trans }}" class="searchbox__input">
                            <button type="submit" id="search" class="searchbox__submit">
                                <i class="icon icon--search searchbox__submit__icon"></i>
                            </button>
                        </div>
                    </div>
                </form>
            {% endif %}


            {# Language nav #}
            {% set langs = get_locales() %}
            {% if langs|length > 1 %}
                <div class="language-nav">
                    <span class="language-nav__active-lang">
                        {{ app.request.locale }}
                    </span>
                    <nav role="navigation">
                        {% for lang in langs %}
                        {% if lang != app.request.locale %}
                            <a href="{{ path('_slug', { '_locale': lang }) }}" class="language-nav__link">
                                {{ lang }}
                            </a>
                        {% endif %}
                        {% endfor %}
                    </nav>
                </div>
            {% endif %}
        {#</div>#}
    </header>
{% endif %}

